SNAKEMAKE_CORES=110
SNAKEMAKE_CONDA_PREFIX=/data/user/mowp/snakemake_conda_envs
# SNAKEMAKE_CACHE_DIR=/path/to/project/.snakemake/cache
# SNAKEMAKE_TMPDIR=/path/to/project/.snakemake/cache/tmp
# SNAKEMAKE_PROXY=http://proxy.example.com:7890
